<h2
  class="max-w-sm mx-auto text-center text-black text-4xl font-semibold
  font-semibold leading-tight mb-10">
  The code will always be the easiest part of a coding career.
</h2>

If you survey career advice books for developers, you will see a lot of books in four major categories:

- Learning to Code
- Acing your Technical Interview
- Becoming an Engineering Manager
- Quitting your job to start a startup

But there is so much else to building a great dev career!

## From Code Newbie to Senior Dev

Embarking on a new Dev Career is a scary proposition. There are thousands of tutorials helping you learn to code and get that first job. But nothing on how to take that technical skill and make a great career out of it!

This stuff matters. When you're learning to code, you have to decide what to learn, how to learn it, and eventually marketing yourself as a developer convincingly enough to land that first job. **And that's just the beginning!** Then you still have to learn on the job, build strong working relationships with your colleagues, hopefully network outside your company, and eventually build the expertise and reputation to sell yourself as a Senior Developer. 😱

## Career Guides

There
