.check-list {
  list-style-type: none;
  padding-left: 2.5em;
  text-align: left;
}
.check-list > li:before {
  position: absolute;
  left: -2.5em;
  top: 0;
  /* content: url(greentick.svg); */
  content: url(https://adamwathan.me/img/icons/check-circle.svg);
  width: 1.5em;
  height: 1.5em;
}
.check-list > li {
  position: relative;
  margin-bottom: 1em;
}

b,
strong {
  font-weight: bolder;
}
